:root{
  --mainBlue: #232528;
  --lightBlue: #74d81d;
  --mainWhite: rgb(249, 244, 244);
  --mainDark: #075255;
  --mainYellow: #ff00dd88;
}

body{
  font-family: "Oswald" ,Sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--mainDark) !important
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .3rem;
  text-transform: uppercase
}

.text-blue{
  color: var(--mainBlue)
}

.text-bright{
  color: var(--lightBlue)
}

.btn-black{
  background: transparent;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.01rem solid var(--mainDark) !important;

}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow)
}